[Common]

#provide ancestry files
filepar2 = ancestry-probs-par1_cleaned.tsv
filepar1 = ancestry-probs-par2_cleaned.tsv

#provide either phenofile, with sex as a column where 0 = F, 1 = M
#or sexfile, with individual names and F and M
#phenofile = grayParametersForQTL_all_switchedSex_cleaned.tsv
sexfile = sexfile_sorted.tsv

#if your data consists of all males or all females, you can indicate that here without providing another data file with sexes. 
#If you provide no indication of sexes, we will assume all females.
#Use sex_all over-rides sex in the phenofile
#sex_all = F or 0
#sex_all = M

#indicate which individuals to pull. You can provide a substring, for example "yak" if you want to pull only the individuals with the string "yak" in them. You can also indicate several individuals, separated by white space or commas (e.g. indivs = 1P3, 4P2, 5P2 or indivs = 1P3 4P2 5P2). Default is all. 
#indivs = A10,A12,A1_

#difffac defines how much the data should be thinned. Columns with no neighbors that differ by more than difffac are deleted. This is performed chromosome-wise  
difffac=0.1

#if you specify numMarkers, that many markers will be kept per chromosome. Setting both numMarkers and difffac will cause pull thin to quit
#numMarkers=600

#The normal function of pull thin is to include markers if any individual switches from not having a genotype (i.e. missing data) to having a genotype. To turn this off, set the following option to True
ignoreNan=False

#If you want to pull a subset of chromosomes, you can do that with chromes.
#if you preselected chromosomes in msg, use "all" - This is much faster.
#chroms = 2 3 4 X
chroms = all

#specify name of X chromosomes
xchroms = X

#cross indicates whether "bc" or f2"
cross = bc

#if you want to replace NAs in the msg file with prior probabilities of ancestry, indicate the autosomal and X chromosome priors.
autosome_prior = 0.5
#X_prior is for female in f2 cross. For males NAs are replaced with 2 * X_prior. You need to indicate only the female X_prior
X_prior = 0.5
